<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<!--HEAD-->
<head th:replace="footerAndHeader/header :: html_head"></head>
<body>

<!--NAVBAR-->
<div th:replace="footerAndHeader/header :: navbar"></div>

<div class="container">
    <h2>Create New Book</h2>
    <form th:action="@{/catalog/create}" th:object="${book}" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" th:field="*{name}">
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" th:field="*{title}">
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">Author</label>
            <input type="text" class="form-control" id="author" th:field="*{author}">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" id="price" th:field="*{price}">
        </div>
        <div class="mb-3">
            <label for="imageUrl" class="form-label">Image URL</label>
            <input type="text" class="form-control" id="imageUrl" th:field="*{imageUrl}">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

</body>
</html>
