<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<!--HEAD-->
<head th:replace="footerAndHeader/header :: html_head"></head>
<body>



<!--NAVBAR-->
<div th:replace="footerAndHeader/header :: navbar"></div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person : ${persons}">
        <td th:text="${person.id}"></td>
        <td th:text="${person.name}"></td>
        <td th:text="${person.lastName}"></td>
        <td th:text="${person.email}"></td>
        <td th:text="${person.password}"></td>
        <td th:text="${person.age}"></td>
        <td>
        </td>
        <td>
            <a th:href="@{/person/list/{id}(id=${person.getId()})}">
                <button type="button" class="btn btn-primary">Check</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<button type="button" class="btn btn-primary" onclick="location.href='/'">Go Back</button>
<button type="button" class="btn btn-primary" onclick="location.href='/person/new'">Create new Person</button>


</body>
</html>